/* Hero Section */
.logo-showcase-intro-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .logo-showcase-animation-container {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 20;
  }
  
  .logo-showcase-text {
    font-family: var(--graphyne);
    font-size: 16rem;
    color: var(--black);
    text-align: center;
    position: relative;
    max-width: 100%;
    bottom: 20px;
  }
  
  /* Marquee Section */
  .logo-showcase-marquee-wrapper {
    position: absolute;
    bottom: -10%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    z-index: 3; /* Ensure text is above other elements */
  }
  
  .logo-showcase-marquee-wrapper.start-marquee .logo-showcase-marquee-text {
    animation: logo-marquee 15s linear infinite;
  }
  
  .logo-showcase-marquee-text {
    display: inline-block;
    text-align: center;
    font-size: 18rem;
    color: var(--black);
    margin-right: 100px;
    font-family: var(--graphyne);
  }
  
  /* Keyframes for marquee animation */
  @keyframes logo-marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Placeholder for additional content */
  .logo-showcase-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Content Section */
.logo-showcase-content {
    margin: 0;
    min-height: 100vh;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--afacad);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wrapper {
    padding: 130px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  
  .content-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
  
  .content-details > div {
    flex: 1;
    margin-right: 20px;
  }
  
  .content-details > div:last-child {
    margin-right: 0;
  }
  
  .content-details h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .content-details p {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
  }
  
  .content-description {
    font-size: 2.5rem;
    line-height: 1.8;
    text-align: left;
  }
  
  .content-description span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50%);
  }
  