.grid-container {
  position: relative;
  width: 100%; 
  height: 100%; 
  background-color: var(--yellow);
  overflow: hidden;
}

.line {
  position: absolute;
  background-color: var(--black);
  filter: url(#roughPencil); 

}

.horizontal {
  width: 100%;
  height: 4px; 
  top: calc(100% / 10 * var(--index) + 20px);  
  
}

.vertical {
  height: 100%;
  width: 4px; 
  left: calc(100% / 10 * var(--index) + 20px); 
  
}


