.wave-container {
  position: relative;
  width: 100%;
  height: 100%; 
  background-color: var(--blue); 
  overflow: hidden; 
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
}

svg {
  overflow: hidden;
  display: block;
  width: 100%; 
  height: 100%; 
}

path {
  stroke-dasharray: 6 0 600 0;
  stroke-dashoffset: 0; /* Dash starts at the very beginning */
  animation: none; /* Start with no animation */
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -200;
    transform: translate3d(-180px, 0, 0);
  }
}

.waves path {
  animation: none; /* Default state: no animation */
}

.waves path:hover {
  animation: moveTheWave 6s linear infinite; /* Apply hover animation */
}