.motion-container {
  position: relative;
  width: 450px;
  height: 320px;
  background-color: var(--pink);
}

.matter {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 1440px) {
  .motion-container {
    width: 400px;
    height: 240px;
  }
}

@media (max-width: 768px)  {
  .motion-container {
    height: 220px; 
    width: 370px;
  }
}

@media (max-width: 375px) {
  .motion-container {
    height: 220px;
    width: 270px;
  }
}