.motion-container {
  position: relative;
  width: 370px;
  height: 220px;
  background-color: var(--pink);
}

.matter {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 768px)  {
  .motion-container {
    height: 220px; /* Reduce height for smaller screens */
    width: 370px;
  }
}