/* Wrapper to keep the card and info together */
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* padding: 20px;  */
  /* background-color: lightgray; */
  transition: transform 0.3s ease-in-out;
}

/* Shrink Everything (Card, Title, Tags) on Hover */
.card-wrapper:hover {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}


/* Card container */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.19rem;
  width: 550px;
  height: 600px;
  transition: transform 0.3s ease;
}

/* Image styling */
.card-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
}

/* Overlay for hover effect */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Initially transparent */
  transition: background 0.3s ease;
}


.card:hover .overlay {
  background: rgba(0, 0, 0, 0.7); /* Darker overlay */
}

.card-wrapper:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}

.card-title,
.tags {
  transition: transform 0.3s ease-in-out;
}

/* Card info section (Title & Tags) */
.card-info {
  text-align: left;
  width: 100%;
  max-width: 600px;
}


.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: var(--afacad);
  font-weight: var(--afacad-medium);
  font-size: 1rem;
  /* font-weight: bold; */
  letter-spacing: 0.5px;
  color: var(--white); 
  background: #333; 
  padding: 5px 18px;
  border-radius: 50px; 
  text-transform: uppercase; 
  transition: all 0.3s ease-in-out;
}

/* .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}

.tag {
  font-family: var(--afacad);
  color: var(--black);
  font-size: 0.875rem;
  padding: 5px px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.tag-separator {
  margin: 0 5px;
  color: var(--black);
} */

/* Coming Soon Placeholder */
.coming-soon-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3.5rem;
  font-size: 3.5rem;
  font-family: var(--afacad);
  font-weight: var(--afacad-semibold);
  color: var(--black);
  border-radius: 0.19rem;
  background-color: lightgray;
  text-transform: uppercase;
  text-align: center;
}

.coming-soon-card:hover {
  background-color: var(--black);
  color: var(--white); 
}

/* -----------RESPONSIVENESS----------- */


/* ----very wide monitors---- */
@media (min-width: 2300px) {
  .card {
    width: 688px;
    height: 750px;
  }

  .card-title {
    font-size: 1.5rem;
  }
  
}




/* @media (max-width: 1440px) {
  .card {
    width: 450px;
    height: 450px;
  }
} */


/* Mobile Styles */
/* @media screen and (max-width: 768px) {
  .card {
    width: 300px;
    height: 300px;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .tag {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
} */
