/* Default behavior: Hide the cursor */
* {
  cursor: none !important;
}

/* Enable default system cursor on mobile */
body.default-cursor * {
  cursor: auto !important;
}

/* Custom cursor styles */
.cursor {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--default-cursor-color); /* Use default cursor color */
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: hard-light;
  z-index: 9999999;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease, background-color 0.3s ease;
  border: 1px solid var(--default-cursor-color);
  transform: translate(-50%, -50%);
}

/* Disable custom cursor on smaller screens */
@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}
