/* Fullscreen Footer (Starts Smaller) */
.footer {
  margin: 200px 0px 0px 0px;
  /* height: 100vh; 
  max-height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--white);
}

/* Main Footer Container - Initially Smaller */
.footer-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 5rem 3rem; */
  transition: transform 0.3s ease-out;
}

/* Footer Content (Email & Socials) */
.footer-content {
  text-align: center;
  width: 100%;
}

/* Work Title */
.footer-title {
  margin-top: 5rem;
  font-family: var(--afacad);
  font-size: 4rem;
  opacity: 0.8;
  margin-bottom: 3rem;
}


/* Email Link */
.footer-link {
  font-size: 2rem;
  font-family: var(--afacad);
  font-weight: var(--afacad-regular);
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover {
  transform: scale(0.9);
}
/* Email & Socials */
.email-social-container {
  display: flex;
  flex-direction: column; /* Stack email and social icons */
  align-items: center;
  gap: 25px; /* Adjust spacing */
  justify-content: center;
}

/* Social Icons */
.social-icons {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

/* Social Buttons */
.social-icons a {
  font-size: 2.5rem;
  color: var(--white);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(0.9);
}
/* Large "CONTACT" Text */
.footer-contact {
  font-family: var(--graphyne);
  font-size: 20rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--white);
}

.footer-bottom {
  font-family: var(--afacad);
  font-weight: var(--afacad-extralight);
  text-align: center;
  font-size: 1rem;
  width: 100%;
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  gap: 10px; /* Increase spacing between items */
}

.footer-bottom span {
  position: relative;
}

.footer-bottom span:not(:last-child)::after {
  content: "|"; /* Vertical separator */
  margin-left: 10px; /* Space before separator */
  margin-right: 10px; /* Space after separator */
  color: var(--yellow); /* Match text color */
  opacity: 0.7; /* Slight transparency */
}
