.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: sticky;  /* This makes the header sticky */
  top: 0;            /* Stick the header to the top */
  max-width: 100%;       /* Ensure the header spans the full width */
  z-index: 100;      /* Ensure the header stays on top of other content */

}


nav a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--black);
  font-family: 'Afacad Flux', sans-serif;
  font-weight: medium;
  font-size: 2rem;
  transition: color 0.3s ease; /* Smooth color transition */

}

nav a.active {
  font-weight: bold;
  border-bottom: 2px solid currentColor; /* Match the text color */
}

